<head>
   <link rel="stylesheet" href="/css/style.css" />
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header class="header-container">
 <p><h2 class="neon-text"><span style="color:#5D3FD3;">Welcome
  <span style="color: rgb(173, 126, 6);">to
  <span style="color: seagreen;">Flamingo
  <span style="color:rgb(226, 43, 43)">Express
  </h2></p>
</header>